[submodule "frontend"]
	path = frontend
	url = https://github.com/manikandaprabhu0512/takeYourInterview-FrontEnd
[submodule "backend"]
	path = backend
	url = https://github.com/manikandaprabhu0512/takeYourInterview-BackEnd
